@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,900&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
    background-color: var(--dark-gray  );
    position: relative;
    min-height: 100%;
}

:root{
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --dark-gray:#283618;
    --font-color: #FEFAE0;
    --bg-card: #BC6C25;
    --bg-button: #DDA15E;
}

.g-container, footer{
    background-color: var(--dark-gray);
}


.g-container{
    padding:40px;
    gap:20px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

*{
    font-family: Merriweather, sans-serif;
}
h1{
    font-family: Merriweather, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: var(--font-color);
}

header{
    padding:20px 15px;
    background-color: #606C38;
}
.heading{
    text-align: center;
}

.btn:hover{
    opacity: 1;
}
.btn-new{
    display: flex;
    justify-content: center;

}
.btn-new-book {
    padding: 1rem 0.8rem;
    width: 150px;   
    background-color: var(--bg-button);
    border-radius: 20px;
    border: 1px solid black;
}

.btn-new-book:hover{
    background-color: #ddb88d;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:10px;
    padding:15px;
}

.container .card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid black;
    background-color: var(--bg-card);
    border-radius: 20px;
    text-align: center;
    color: var(--font-color);
    overflow: auto;
}

.container p{
    color: var(--font-color);
}


.btn{
    padding: 0.3rem 0.75rem;
    border-radius: 10px;
    background-color: var(--bg-button);
    border: 1px solid transparent;
}


.form-popup{
    position:fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    max-width: 350px;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.form-popup.active{
    transform: translate(-50%, -50%) scale(1);
}


.form-container{
    background-color: #f1f1f1;
    max-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.form-container input{
    width: 100%;
    padding:10px;
    background-color: #e4e3e3;
    border: none;
    font-family: sans-serif;
}

.c-checkread{
    display: flex;
    width: 180px;
    margin: 15px;
}

.btns-card{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: var(--font-color);
    padding: 20px;
}

.fa-github {
    font-size: 30px;
    color: var(--font-color);
    transition: transform 0.3s ease-in-out;
  }
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .overlay.active{
      display: block;
  }